@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --active-section: "home"; /* Default value */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.active-section {
    color: hsl(var(--primary)); /* Use your primary color */
    font-weight: bold;
}

nav a {
    transition: color 0.3s ease;
}

nav a.active-section {
    color: hsl(var(--primary));
    font-weight: bold;
}
section{
    height: 100vh;
}
