@import url('../styles/Navbar.css');
@import url('../styles/pages.css');
@import "tailwindcss";
/* Tailwind CSS layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --active-section: "home";
  --background: #ffffff;
  --foreground: #171717;
  --primary: red;
  --bg-blue:  rgba(59, 240, 253, 0.6);
  --grey: rgba(255,255,255,0.5);
  --gray: #d9d9d9;
  --bg-golden: rgba(205, 173, 125, 0.6);
  --text-golden:#967f5c;
  --text-dark-blue:#0f373a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: rgb(0,255,255);
    --bg-blue:  rgba(59, 240, 253, 0.6);
    --grey: rgba(59,59,59,0.5);
    --gray: rgba(40, 40, 40, 0.6);
    --bg-golden: rgba(50, 82, 130, 0.6);
    --text-golden:#798eae;
    --text-dark-blue:#f0c8c5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }
  section {
    @apply h-screen h-dvh px-[10vw] pb-[10vh] flex justify-start items-end snap-start;
  }
  .title {
    @apply font-bold text-2xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl  mb-10;
  }
  .title-sm {
    @apply font-bold text-xl sm:text-2xl md:text-2xl lg:text-4xl xl:text-5xl my-5;
  }

  .btn {
    @apply text-center text-gray-700 hover:bg-gray-700 hover:text-white hover:shadow-xl font-semibold px-4 py-2  transition-all duration-300 ease-in-out;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
}
