.navbar {
  z-index: 99;
}
.navbar .nav-link.active {
  color: white !important;
  transition: color 0.3s ease-in-out;
  font-weight: 500;
}
.navbar.nav-home {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-home .nav-item {
  background-color: rgba(47, 195, 206, 0.6);
}
.navbar.nav-home .nav-item .nav-link {
  color: #0f373a;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.navbar.nav-featured_service {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-featured_service .nav-item {
  background-color: rgba(205, 173, 125, 0.6);
}
.navbar.nav-featured_service .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #967f5c;
}
.navbar.nav-equipment {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-equipment .nav-item {
  background-color: rgba(205, 173, 125, 0.6);
}
.navbar.nav-equipment .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #967f5c;
}
.navbar.nav-service {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-service .nav-item {
  background-color: rgba(47, 195, 206, 0.6);
}
.navbar.nav-service .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #0f373a;
}
.navbar.nav-service-couintries {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-service-couintries .nav-item {
  background-color: rgba(47, 195, 206, 0.6);
}
.navbar.nav-service-couintries .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #0f373a;
}
.navbar.nav-news {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar.nav-news .nav-item {
  background-color: rgba(34, 35, 68, 0.6);
}
.navbar.nav-news .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #cdad7d;
}
.navbar.nav-contact {
  background-color: rgba(205, 173, 125, 0.5);
}
.navbar.nav-contact .nav-item {
  background-color: rgba(205, 173, 125, 0.6);
}
.navbar.nav-contact .nav-item .nav-link {
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  color: #967f5c;
}
